<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>

    <script
            crossorigin="anonymous"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <!-- Latest compiled and minified CSS & JS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen"
          rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>Accounts Manager</h1>
        <p>Demonstrates Reading/Writing from Database using Spring JDBC Template and Kotlin</p>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form method="post" role="form" th:action="@{/}" th:object="${user}">
                    <legend>Insert User</legend>

                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input class="form-control" id="first_name" name="first_name"
                               placeholder="First Name" th:field="*{firstName}" type="text"></input>
                    </div>

                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input class="form-control" id="last_name" name="last_name"
                               placeholder="Last Name" th:field="*{lastName}" type="text"></input>
                    </div>

                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input class="form-control" id="email" name="email"
                               placeholder="Email Address" th:field="*{email}" type="text"></input>
                    </div>

                    <div class="form-group">
                        <label for="email">Phone</label>
                        <input class="form-control" id="phone" name="phone"
                               placeholder="920.867.5309" th:field="*{phone}" type="text"></input>
                    </div>

                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table table-striped table-hover" th:if="${allUsers.size() > 0}">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="val : ${allUsers}">
                        <td th:text="${val.firstName}"></td>
                        <td th:text="${val.lastName}"></td>
                        <td th:text="${val.email}"></td>
                        <td th:text="${val.phone}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>